In [100]:
import pandas as pd

In [101]:
GPA = pd.read_csv("GPA.csv")

In [102]:
GPA.head()

,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2019-fa,AAS,100,Intro Asian American Studies,20,6,1,4,1,0,0,0,0,0,0,0,0,0,"Boonsripaisal, Simon"
1,2019-fa,AAS,100,Intro Asian American Studies,16,10,2,2,1,0,0,0,0,0,0,0,0,0,"Uhall, Michael B"
2,2019-fa,AAS,100,Intro Asian American Studies,5,13,2,2,3,2,0,1,0,0,0,0,3,0,"Kang, Yoonjung"
3,2019-fa,AAS,100,Intro Asian American Studies,26,6,1,0,1,0,0,0,0,0,0,0,0,0,"Boonsripaisal, Simon"
4,2019-fa,AAS,100,Intro Asian American Studies,19,4,3,1,2,3,0,0,0,0,0,0,0,0,"Uhall, Michael B"

In [190]:
GPA

,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2019-fa,AAS,100,Intro Asian American Studies,20,6,1,4,1,0,0,0,0,0,0,0,0,0,"Boonsripaisal, Simon"
1,2019-fa,AAS,100,Intro Asian American Studies,16,10,2,2,1,0,0,0,0,0,0,0,0,0,"Uhall, Michael B"
2,2019-fa,AAS,100,Intro Asian American Studies,5,13,2,2,3,2,0,1,0,0,0,0,3,0,"Kang, Yoonjung"
3,2019-fa,AAS,100,Intro Asian American Studies,26,6,1,0,1,0,0,0,0,0,0,0,0,0,"Boonsripaisal, Simon"
4,2019-fa,AAS,100,Intro Asian American Studies,19,4,3,1,2,3,0,0,0,0,0,0,0,0,"Uhall, Michael B"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15108,2017-su,TAM,212,Introductory Dynamics,0,8,3,3,8,2,1,0,1,2,0,0,0,0,"Essick, Raymond B"
15109,2017-su,TAM,335,Introductory Fluid Mechanics,1,8,4,3,6,4,2,0,0,1,1,0,0,0,"Berent, Zachary T"
15110,2017-su,THEA,101,Introduction to Theatre Arts,28,3,3,1,1,0,2,0,1,0,0,0,3,1,"Morrissette, Jason W"
15111,2017-su,THEA,101,Introduction to Theatre Arts,21,5,1,3,2,0,1,1,1,0,0,0,2,0,"Morrissette, Jason W"
15112,2017-su,THEA,110,Broadway Musicals,9,5,2,0,2,1,0,0,0,0,1,0,1,0,"Morrissette, Jason W"

In [120]:
GPA.loc[GPA['Primary Instructor'] == "Boonsripaisal, Simon"]

,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2019-fa,AAS,100,Intro Asian American Studies,20,6,1,4,1,0,0,0,0,0,0,0,0,0,"Boonsripaisal, Simon"
3,2019-fa,AAS,100,Intro Asian American Studies,26,6,1,0,1,0,0,0,0,0,0,0,0,0,"Boonsripaisal, Simon"

In [125]:
gpa = GPA.groupby(['Primary Instructor','Course Title','Number','YearTerm','Subject'])[['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','D-','F','W']].sum().reset_index()

In [126]:
gpa

,Primary Instructor,Course Title,Number,YearTerm,Subject,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W
0,"Abbamonte, Peter M",Electromagnetic Fields I,435,2019-fa,PHYS,5,30,4,7,25,3,0,12,0,0,4,0,0,1
1,"Abbamonte, Peter M",Light,402,2017-sp,PHYS,2,8,6,0,5,4,0,0,0,0,1,0,0,1
2,"Abbamonte, Peter M",Light,402,2018-fa,PHYS,4,12,7,2,4,3,0,7,0,0,0,0,0,0
3,"Abbamonte, Peter M",Light,402,2019-sp,PHYS,4,13,3,5,9,2,3,7,1,0,1,0,0,0
4,"Abbott, Annie R",Intermediate Spanish,130,2018-sp,SPAN,9,8,0,1,2,2,0,0,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11125,"van der Veen, Renske",Physical Chemistry I,442,2017-sp,CHEM,1,5,15,7,8,8,3,2,2,0,0,1,0,0
11126,"van der Veen, Renske",Physical Chemistry I,442,2018-fa,CHEM,0,2,8,10,10,5,4,0,0,0,0,1,2,1
11127,"van der Veen, Renske",Physical Chemistry I,442,2019-fa,CHEM,5,4,5,3,2,7,4,3,3,3,2,2,3,0
11128,"van der Zande, Arend",Mechanical Design I,370,2017-sp,ME,1,11,10,6,6,3,3,1,0,2,0,0,0,0
11129,"van der Zande, Arend",Mechanical Design I,370,2018-sp,ME,2,16,11,8,7,4,2,0,0,0,0,0,0,0

In [127]:
gpa.loc[gpa['Primary Instructor'] == "Boonsripaisal, Simon"]

,Primary Instructor,Course Title,Number,YearTerm,Subject,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W
1020,"Boonsripaisal, Simon",Intro Asian American Studies,100,2019-fa,AAS,46,12,2,4,2,0,0,0,0,0,0,0,0,0

In [129]:
dataset = pd.read_csv("dataset.csv")

In [191]:
dataset

,Year,Term,TermYear,Course,Course Title,ACP,CS,HUM,NAT,QR,SBS
0,2019,Fall,2019-fa,AAS 100,Intro Asian American Studies,NaN,US,NaN,NaN,NaN,SS
1,2019,Fall,2019-fa,AAS 105,Introduction to Arab American Studies,NaN,US,NaN,NaN,NaN,NaN
2,2019,Fall,2019-fa,AAS 120,Intro to Asian Am Pop Culture,NaN,US,NaN,NaN,NaN,NaN
3,2019,Fall,2019-fa,AAS 200,U.S. Race and Empire,NaN,US,HP,NaN,NaN,NaN
4,2019,Fall,2019-fa,AAS 201,US Racial & Ethnic Politics,NaN,US,NaN,NaN,NaN,SS
...,...,...,...,...,...,...,...,...,...,...,...
2025,2018,Fall,2018-fa,UP 312,Communication for Planners,ACP,NaN,NaN,NaN,NaN,NaN
2026,2018,Fall,2018-fa,UP 316,Urban Informatics II,NaN,NaN,NaN,NaN,QR2,NaN
2027,2018,Fall,2018-fa,WRIT 303,Writing Across Media,ACP,NaN,NaN,NaN,NaN,NaN
2028,2018,Fall,2018-fa,YDSH 220,Jewish Storytelling,NaN,WCC,LA,NaN,NaN,NaN
2029,2018,Fall,2018-fa,YDSH 320,Lit Responses to the Holocaust,NaN,WCC,LA,NaN,NaN,NaN

In [196]:
cleanGPA=pd.concat([newGPA, dataset], axis=1)

In [197]:
cleanGPA

,Primary Instructor,Course Title,Number,YearTerm,Subject,A+,A,A-,B+,B,...,Term,TermYear,Course,Course Title,ACP,CS,HUM,NAT,QR,SBS
0,"Abbamonte, Peter M",Electromagnetic Fields I,435.0,2019-fa,PHYS,5.0,30.0,4.0,7.0,25.0,...,Fall,2019-fa,AAS 100,Intro Asian American Studies,NaN,US,NaN,NaN,NaN,SS
1,"Eckstein, James N",Electromagnetic Fields I,435.0,2018-sp,PHYS,14.0,18.0,25.0,4.0,14.0,...,Fall,2019-fa,AAS 105,Introduction to Arab American Studies,NaN,US,NaN,NaN,NaN,NaN
2,"Eckstein, James N",Electromagnetic Fields I,435.0,2019-sp,PHYS,15.0,16.0,27.0,5.0,8.0,...,Fall,2019-fa,AAS 120,Intro to Asian Am Pop Culture,NaN,US,NaN,NaN,NaN,NaN
3,"Sickles, Anne M",Electromagnetic Fields I,435.0,2017-fa,PHYS,19.0,16.0,4.0,15.0,9.0,...,Fall,2019-fa,AAS 200,U.S. Race and Empire,NaN,US,HP,NaN,NaN,NaN
4,"Sickles, Anne M",Electromagnetic Fields I,435.0,2017-sp,PHYS,10.0,13.0,6.0,6.0,7.0,...,Fall,2019-fa,AAS 201,US Racial & Ethnic Politics,NaN,US,NaN,NaN,NaN,SS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15866,NaN,Latina/Latinos in the Contemporary United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15867,NaN,Latina/Latinos in the Contemporary United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15868,NaN,Foundations of Pol Sci,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15869,NaN,American Judaism,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15870,NaN,Demographic Methods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN